*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* ### utils */

/* ### Debug */
.bordi-blocchi{
    background-color: lightgrey;
    padding: 30px;
    border: 2px dashed grey;
    min-height: 80px;
    text-align: center;
    font-size: xx-large;
}